---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import ClientLink from '../components/ClientLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const clients = (await getCollection('clients'));
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				Based in Berlin, Niavlys Otteram is a (lead) product designer
currently freelancing remotely. Previously he gigged or held senior
and lead designer positions at
			</article>
			<article>
				{
					clients.map((client, index) => {
						const lastItem = index + 1 === clients.length
						return (
							<ClientLink
								lastItem={lastItem}
								title={client.data.title}
								image={client.data.heroImage}
							/>
						)
					})
				}{ '.' }
			</article>
		</main>
		<footer>
			<article>
				Need some design work, strategy or management help?
				</br>
				Find me by <a href="mailto:niavlys.otteram@gmail.com">email</a>, or <a href="https://linkedin.com/in/niavlys-otteram">linkedin</a>.
			</article>
		</footer>
	</body>
</html>

<style>
	main {
		flex-grow: 1;
	}
	article {
		display: inline;
	}
	main,
	footer {
		padding: var(--size);
		font-size: 1.5rem;
	}
	article {
		background-color: var(--color-background);
	}
	a {
		text-decoration: none;
		color: var(--color-text);
		font-style: italic;
	}
	a:hover {
		text-decoration: underline;
	}
</style>